*{
    padding: 0;
    margin: 0;
}
nav{

    display: flex;
    justify-content: space-between;
    padding: 5px 200px;
    background-color: rgb(4, 4, 82);
    color: white;
    border-bottom: 4px solid #401E63;
}
nav ul{
    display: flex;
 
}
nav ul li{
    list-style-type: none;
    margin: 10px 5px;
    font-weight: bold;
  
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
nav ul li a:hover{
    background-color: black;
    color: red;
   
}
/* hero area code start heare  */
header{
    background-image: url(image/website\ banner.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.input-icon-parent{
    display: flex;
    justify-content: center;
}
.input-icon-parent i{
    font-size: 30px;
    color: red;
    background-color: green;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -10px;
}
.input-icon-parent input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 20px;

}

/* main area code start  */

main{
    background-color: #2d236a;
    padding-bottom: 50px;
}
.main-div{
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0 30px 0;
}
.latest-page-main-div{
    display: flex;
    justify-content: space-between;
}
.lesest-vedio{
    font-size: 20px;
    color: #05ae76;
    font-weight: bold;
}
.page-div span{
color: black;
background-color: antiquewhite;
padding: 5px;
border-radius: 4px;
margin: 0 10px;
border: 1px solid #8080805b;
cursor: pointer;
}
.page-div h4{
    color: #05ae76;
}

.single-box-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 20px;
    margin-top: 20px;
}
.single-box{
    height: 250px;
    border: 3px solid gray;
}
.single-box img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.single-box:hover img{
transform: scale(1.1);
border-radius: 20px;
}
.single-box div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: gray;
}
/* next previous code start  */
.next-previous-parent{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.next-previous-parent a{
    text-decoration: none;
    color: white;
}
.next-previous-parent h3 a{
    background-color: #05ae76;
    padding: 10px 25px;
    border-radius: 8px;
    transition: 0.5s;
}
.next-previous-parent h3 a:hover{
    background-color: #028559;
}
.next-previous-parent div a{
    margin: 0px 10px;
    background-color: antiquewhite;
    color: black;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #868383;
}
.next-previous-parent div a:first-child{
    background-color:#05ae76 ;
    color: white;
}

/* footer section code start  */
footer{
    background-color: #5f1E69;
    color: white;
}
.main-footer{
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 80px;
}
.first-footer h3{
    font-size: 25px;
    padding: 30px 0;
    margin-top: 20px;
}
.first-footer:first-child p{
    margin-bottom: 50px;
}
.second-footer h3{
font-size: 25px;
padding: 30px 0;
margin-top: 20px;
}
.second-footer a{
    text-decoration: none;
    color: white;
}
.second-footer p{
    margin-bottom: 10px;
}
.third-footer div{
    padding: 30px 0;
    margin-top: 20px;
    font-size: 25px;
}
.third-footer div a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    background-color: #1A1244;
    padding: 8px;
    border-radius: 5px;
}
.third-footer p{
    margin-bottom: 10px;
}
.third-footer p:nth-child(3){
    margin-bottom: 65px;
}