*{
    padding: 0;
    margin: 0;
}
nav{

    display: flex;
    justify-content: space-between;
    padding: 5px 200px;
    background-color: rgb(4, 4, 82);
    color: white;
    border-bottom: 4px solid #401E63;
}
nav ul{
    display: flex;
 
}
nav ul li{
    list-style-type: none;
    margin: 10px 5px;
    font-weight: bold;
  
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
nav ul li a:hover{
    background-color: black;
    color: red;
   
}
/* hero area code start heare  */
header{
    background-image: url(image/website\ banner.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.input-icon-parent{
    display: flex;
    justify-content: center;
}
.input-icon-parent i{
    font-size: 30px;
    color: red;
    background-color: green;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -10px;
}
.input-icon-parent input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 20px;

}